/*  your css code here. If applicable */
*{
    background-color: #757575;
}

#photo-heading{
	text-align:center;
	color:white;
}
.animals{
	display:grid;
	grid-template-columns: repeat(3,auto);
	width=90%
	flex-wrap:none;
	justify-content:center;
	
}
.animals > img{
    border-radius: 25px;
    padding: 10px 10px;
}